
<div class='row follow-pics'>
  <% current_user.follows.each do |post| %>

    <div class="card" style="width: 40rem;">
      <div class='card-title'>
        <img class='rounded-circle' src=<%= post.ig_user[:profile_picture] %> alt="Ig poster pic" />
        <p class='ig-username'><%= post.ig_user[:username] %></p>
      </div>

      <div class='post-image'>
        <img class='ig-post-pic' src=<%= post.image %> alt="Instagram Post" />
      </div>

      <div class="card-block">
        <h5 class="likes"><%= post.likes %> likes</h5>
        <div class='tags card-text'>
          <p class='caption'><%= post.caption %></p>
          <% post.tags.each do |tag| %>
            <h6>#<%= tag %></h6>
          <% end %>
        </div>


      </div>
    </div>
  <% end %>
</div>
