<!DOCTYPE html>
<html>
  <head>
    <title>ShowoffIeTest</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div>
      <% flash.each do |name, msg| %>
        <div class="alert alert-info"><%= content_tag :div, sanitize(msg), class: name %></div>
      <% end %>
    </div>
    <% if current_user %>

      <div class='container-fluid'>
        <div class='jumbotron'>
          <div class='row'>
            <div id='user-image' class='col-sm-1'>
              <%= image_tag current_user.profile_pic, class: 'rounded-circle' %>
            </div>
            <div class='col-sm-4'>
              <h2><%= current_user.nickname %></h2>
              <h5 class='ig-media'><%= posts %> posts | <%= follows %> following | <%= followed_by %> followers</h5>
              <h4><%= current_user.full_name %></h4>
              <% current_user_bio.each do |bio| %>
                <% if bio[0].include?('@') %>
                  <h5><%= bio %></h5>
                <% else %>
                  <h5><%= link_to bio, "http://#{bio}" %></h5>
                <% end %>
              <% end %>
              <h5><%= link_to website, "#{website}" %></h5>
            </div>
            <div class='col-sm-9'></div>
            <div id='logout' class='col-sm-1'>
              <%= link_to '', signout_path, method: 'delete', class: 'glyphicon glyphicon-log-out' %>
            </div>
          </div>
        </div>
      </div>
    <% else %>
      <div class='container-fluid'>
        <div id='no-user' class='jumbotron'>
          <div class='row'>
            <div class='col-sm-4'>
            </div>
            <div id='instagram-login' class='col-sm-4'>
              <button class='btn-instagram'>
                <i class='fa fa-instagram left'></i>
                <%= link_to 'Login with Instagram', '/auth/instagram', id: 'inst-login' %>
              </button>
            </div>
            <div class='col-sm-4'>
            </div>
          </div>
        </div>
      </div>

    <% end %>
    <%= yield %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
